

.grid {
  display: flex;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  height: 600px;
  width: 600px;
  justify-content: center;
  /* max-width: 600px; */
  opacity: 0.8;
  /* border-radius: 20px; */
  /* padding-left: 15px; */
  margin: auto;
}

.grid div {
  flex-grow: 1;
  /* height: 10%; */
  height: 59px;
  /* width: 9%; */
  width: 54px;
  max-height: 10%;
  max-width: 10%;
  border: 0.5px solid black;
  border-radius: 5px;
  
}

.player {
  background-color: rgb(219, 130, 215);
  border: 2px solid pink;
}

.alien {
  background-color: rgb(106, 106, 231);
}